rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /transactions /{document=**} {
      //only allow to create transactions to the user if it is authenticated
      allow create: if request.auth != null

      //this tells that if the user who making a read or delete request (request.auth.uid) has the same id to the resource data's uid (resource.data.uid)
      allow read, delete: if request.auth.uid == resource.data.uid
    }
  }
}